/* Especificidad 002 */
main > section {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 100%;
}

/* Especificidad 003 */
main > section > h2 {
    grid-column: 1 / -1;
    display: flex;
    justify-content: center;
    text-decoration-line: underline;
}

@media only screen and (max-width: 1300px) {

    /* Especificidad 002 */
    /* Se cambia el numero de columnas */
    main > section {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media only screen and (max-width: 900px) {

    /* Especificidad 002 */
    /* Se cambia el numero de columnas */
    main > section {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (max-width: 600px) {

    /* Especificidad 002 */
    /* Se cambia el numero de columnas */
    main > section {
        grid-template-columns: 1fr;
    }
}

/* Especificidad 002 */
section>article {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    text-align: center;
    margin: 3%;
    padding: 4%;
    border-radius: 5%;
    background-color: #1b365d;
    color: white;
}

/* Especificidad 003 */
/* No hace falta especificar color de fondo pues lo hereda de article */
section > article > h3 {
    color: #f2c75c;
    font-weight: bold;
    text-decoration-line: underline;
}

/* Especificidad 002 */
main > button {
    font-size: medium;
    border-color: #1b365d;
}

