/* Especificidad 002 */
main > section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
}

/* Especificidad 003 */
main > section > h2 {
    grid-column: 1 / -1;
    display: flex;
    justify-content: center;
    text-decoration-line: underline;
}

/* Especificidad 001 */
article {
    display: grid;
    max-height: 20em;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr;
    margin: 1% 2%;
    border-radius: 5%;
    justify-items: center;
    align-items: center;
    background-color: #1b365d;
    color: #f2c75c;

}

/* Especificidad 012 y 002 */
/* No hace falta especificar color de fondo pues lo hereda de article */
article>h3:first-of-type {
    color: #f2c75c;
}

@media only screen and (max-width: 800px) {

    /* Especificidad 002 */
    main > section {
        grid-template-columns: repeat(2, 1fr);
    }
}


@media only screen and (max-width: 530px) {

    /* Especificidad 002 */
    main > section {
        grid-template-columns: 1fr;
    }

    /* Especificidad 001 */
    article {
        margin: 1% 5%;
    }

    /* Especificidad 002 */
    article>p {
        font-size: small;
    }

    /* Especificidad 012 */
    article>h3:first-of-type {
        font-size: medium;
    }
}