 /* Javier Sanabria Miranda UO293758 */

/* Especificidad 001 */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Especificidad 002 */
header a {
    padding: 0vw 2vw;
}

/* Especificidad = 002 */
nav a {
    padding-left: 1vw;
    padding-right: 1vw;
}

/* Especificidad = 001 */
nav {
    display: flex;
    justify-content: flex-end; /* Justifica el contenido del nav a la derecha */
    width: auto; /* Permite que el ancho del nav se ajuste al contenido */
}

/* Media Querie para tablets */
@media only screen and (max-width: 1024px) {
    
    /* Especificidad 001 */
    header {
        flex-direction: column;
    }

    /* Especificidad = 001 */
    /* Se redefine la propiedad justify-content del header para el contenido del flexbox nav */
    nav {
        justify-content: space-around; /* Distribuye los elementos de forma más uniforme */
    }
}
/* Media Querie para moviles */
@media only screen and (max-width: 700px) {

    /* Especificidad = 001 */
    nav {
        flex-direction: column; /* Coloca los enlaces en una columna para ocupar el ancho completo */
        align-items: center; /* Centra los enlaces horizontalmente */
    }

    /* Especificidad = 002 */
    body>p{
        display: none; /* Oculta las migas */
    }
}

/* Especificidad 002 y 001 el resto */
body>p, main, h2, aside {
    padding: 0vw 3vw
}

/* Especificidad 012 */
main nav:first-of-type {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 1%
}

/* Especificidad 013 */
main nav:first-of-type > a {
    padding: 3%;
    
}