 /* Javier Sanabria Miranda UO293758 */

 /* Especificidad 002 */
 body h2 {
    background-color: #1b365d;
    color: #f2c75c;
    text-align: center;
 }

 /* Especificidad 012 */
 body>section:first-of-type {
    display: flex;
    flex-wrap: wrap;
    margin: 0% 26%;
    align-items: center;
    justify-content: center;
 }

 /* Especificidad 013 */
 /* Cabecera del juego */
 /* NO es necesario establecer un color de primer plano pues ya lo hereda de body */
 body>section:first-of-type>header {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    background-color: white;
 }

 /* Especificidad 014 */
  /* NO es necesario establecer un color de primer plano pues ya lo hereda de h2 del documento estilo */
 body>section:first-of-type>header>h2 {
    background-color: #1b365d;
    padding: 1%;
    width: 100%;
 }


 /* Especificidad 014 */
 body>section:first-of-type>header>section {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5%
 }

 /* Especificidad 015 */
 /* Botón de ayuda y de reiniciar */
 body>section:first-of-type>header>section>button {
    border-radius: 5%;
    color: #f2c75c;
    background-color: #254b80;
    font-size: 1.5em;
 }

 body>section:first-of-type>header>section>button:hover {
    transform: scale(1.1);
 }

 /* Especificidad 013 */
 /* Tarjetas */
 body>section:first-of-type>article {
    width: 20%;
    height: 14em;
    margin: 1%;
    transform: scale(1);
    cursor: pointer;
    transform-style: preserve-3d;
    transition: transform .5s;
    box-shadow: 0.5em 0.5em 0.5em rgba(0, 0, 0, .3);
 }

 /* Especificidad 023 */
 body>section:first-of-type>article[data-state=flip],
 body>section:first-of-type>article[data-state=revealed] {
    transform: rotateY(180deg);
 }

 /* Especificidad 014 */
 /* No es necesario establecer un color de primer plano
 pues ya lo hereda de body*/
 body>section:first-of-type>article>h3,
 body>section:first-of-type>article>img {
    margin: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 5%;
    background: #20406d;
    backface-visibility: hidden;
 }

 /* Especificidad 014 */
 body>section:first-of-type>article>h3 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: #f2c75c;
 }

 /* Especificidad 014 */
 body>section:first-of-type>article>img {
    transform: rotateY(180deg);
 }

 /* Estilo del panel de explicación del juego */

 /* Especificidad 002 */
 /* No es necesario establecer un color de primer plano pues ya lo hereda de body */
 section>section {
    display: block;
    border-style: solid;
    position: fixed;
    z-index: 1000;
    background-color: white;
    width: 50%;
    /* Centrar el cuadro de explicación */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
 }

 /* Especificidad 012 */
 section>section[hidden] {
    display: none;
 }

 /* Especificidad 003 */
 /* Cabecera panel de ayuda del juego */
 /* No es necesario establecer un color de primer plano pues ya lo hereda de body */
 section>section>header {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    background-color: white;
    margin: 0% 2%;
 }

 /* Especificidad 003 */
 section>section>p {
    justify-content: center;
    margin: 0% 2%;
 }

 /* Especificidad 004 */
 section>section>header>button {
    background-color: #1b365d;
    color: #f2c75c;
    font-weight: bold;
 }

 @media only screen and (max-width: 1025px) {

    /* Especificidad 012 */
    /* Se redefine el margen del contenedor de tarjetas */
    body>section:first-of-type {
       margin: 0%;
    }

    /* Especificidad 014 */
    /* No es necesario establecer un color de primer plano pues ya lo hereda de body*/
    /* Se redefine el tamaño de la letra del h3 */
    body>section:first-of-type>article>h3 {
       font-size: medium;
    }

    /* Especificidad 013 */
    /* Tarjetas */
    /* Se redefine el alto de las tarjetas */
    body>section:first-of-type>article {
       height: 10em;
    }

    /* Especificidad 014 */
    /* Se redefine el ancho del titulo del juego */
    body>section:first-of-type>header>h2 {
       width: 90%;
    }

    /* Especificidad 014 */
    /* Se establece a su posición original */
    body>section:first-of-type>header>section>button {
       font-size: medium;
    }

    /* Estilo del panel de explicación del juego */

    /* Especificidad 002 */
    /* Cambia el ancho del panel de información del juego */
    section>section {
       width: 90%;
    }
 }

 @media only screen and (max-width: 450px) {

    /* Especificidad 014 */
    /* No es necesario establecer un color de primer plano pues ya lo hereda de body*/
    /* Se redefine el tamaño de la letra del h3 */
    body>section:first-of-type>article>h3 {
       font-size: x-small;
    }

    /* Especificidad 014 */
    /* Se aumenta el espacio entre los botones para que sea más dificil darle a uno sin querer */
    body>section:first-of-type>header>section {
       gap: 15%;
    }

    /* Especificidad 014 */
    /* Se aumenta el ancho de las tarjetas para que hayan 3 por fila en vez de 4 */
    body>section:first-of-type>article {
       width: 30%;
    }

    /* Especificidad 014 */
    /* Se redefine el tamaño del titulo del juego */
    body>section:first-of-type>header>h2 {
       font-size: medium;
    }

 }