/* Especificidad 012 */
body>main:first-of-type {
    width: 60%;
    height: 50%;
    margin: auto;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 1fr 0.5fr 0.3fr;
    gap: 2% 3%;
    align-items: center;
}

/* Especificidad 013 */
body>main:first-of-type>h2 {
    grid-column: 1 / -1;
    text-align: center;
    background-color: #1b365d;
    color: #f2c75c;
    padding: 2%;
}

/* Especificidad 013 */
/* No hace falta establecer un color de primer plano pues no hay texto en este componente */
body>main:first-of-type>div {
    background-color: #000A;
    border: 1em solid black;
    aspect-ratio: 1;
    border-radius: 50%;
}

/* Especificidad 023 */
body>main:first-of-type>button:first-of-type {
    grid-column: 2 / span 1;
}

/* Especificidad 023 */
body>main:first-of-type>button:nth-of-type(2) {
    grid-column: 3 / span 1;
}

/* Especificidad 023 */
body>main:first-of-type>p {
    display: flex;
    grid-row: 4;
    grid-column: 2 / span 2;
    align-items: flex-start;
    justify-content: center;
    height: 100%;
    font-size: 1em;
}



@keyframes turnOn {

    /* No hace falta establecer un color de primer plano pues no hay texto en el componente que usa la animación */
    from {
        background-color: #000A;
    }

    /* No hace falta establecer un color de primer plano pues no hay texto en el componente que usa la animación */
    to {
        background-color: red;
    }
}

/* Especificidad 022 */
main.load>div:first-of-type {
    animation-name: turnOn;
    animation-duration: 0.5s;
    animation-delay: 0s;
    animation-fill-mode: forwards;
}

/* Especificidad 022 */
main.load>div:nth-of-type(2) {
    animation-name: turnOn;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    animation-delay: 0.5s;
}

/* Especificidad 022 */
main.load>div:nth-of-type(3) {
    animation-name: turnOn;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    animation-delay: 1s;
}

/* Especificidad 022 */
main.load>div:last-of-type {
    animation-name: turnOn;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    animation-delay: 1.5s;
}

section {
    margin: 0% 25%
}

/* Especificidad 002 */
section>h3 {
    text-align: center;
}

/* Especificidad 002 */
section>form {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 0.5fr;
    gap: 3%;
}

/* Especificidad 003 */
section>form>section {
    margin: 0%;
}

/* Especificidad 004 */
section>form>section>h4 {
    margin: 0%;
}

/* Especificidad 014 */
section>form>section>input[type="text"] {
    width: 100%;
    font-size: large;
}

/* Especificidad 013 */
section>form>input[type="submit"] {
    grid-column: 2 / 4;
    width: 50%;
    margin: 2%;
    justify-self: center;
}

/* Especificidad 001 */
section>ol {
    font-size: large;
}

@keyframes turnOff {

    /* No hace falta establecer un color de primer plano pues no hay texto en el componente que usa la animación */
    from {
        background-color: red;
    }

    /* No hace falta establecer un color de primer plano pues no hay texto en el componente que usa la animación */
    to {
        background-color: #000A;
    }
}

/* Especificidad 022 */
main.load.unload>div {
    animation-name: turnOff;
    animation-duration: 0.1s;
    animation-fill-mode: forwards;
    animation-delay: 1.5s;
}

/* Especificidad 02 */
section>h3 {
    background-color: #1b365d;
    color: #f2c75c;
    padding: 1%;
}


@media only screen and (max-width: 900px) {

    /* Especificidad 012 */
    /* Se redefine el ancho del main */
    body>main:first-of-type {
        width: auto;
    }

    /* Especificidad 013 */
    /* No hace falta establecer un color de primer plano pues no hay texto en este componente */
    /* Se redefine el borde de las luces */
    body>main:first-of-type>div {
        border: 0.75em solid black;
    }

    /* Especificidad 001 */
    /* Se reduce el margen del section */
    section {
        margin: 0% 10%
    }
}

@media only screen and (max-width: 700px) {

    /* Especificidad 002 */
    /* Se redefine el número de elementos que se muestran en el formulario */
    section>form {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr 1fr 0.5fr;
    }

    /* Especificidad 013 */
    /* Se redefine las columnas que ocupa el botón */
    section>form>input[type="submit"] {
        grid-column: 1 / -1;
    }

}



@media only screen and (max-width: 400px) {

    /* Especificidad 012 */
    /* Se redefine el ancho del main y el espacio entre luces */
    body>main:first-of-type {
        width: auto;
        gap: 1%;
    }

    /* Especificidad 013 */
    /* No hace falta establecer un color de primer plano pues no hay texto en este componente */
    /* Se redefine el borde de las luces y su ancho */
    body>main:first-of-type>div {
        width: auto;
        border: 0.5em solid black;
    }

    /* Especificidad 001 */
    /* Se reduce el tamaño de la letra */
    section>ol {
        font-size: medium;
    }

    /* Especificidad 001 */
    /* Se reduce el margen del section */
    section {
        margin: 0% 5%
    }

}